<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.thiago.twittersearchtest" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".View.HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:configChanges="orientation"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.MainActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:configChanges="orientation">
            <action android:name="android.intent.action.MAIN" />
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="0868c57dbd4ce2b6ccfd8f9d9da3676a2ff2f0c8" />
    </application>

</manifest>
